.form{
    flex: 2;
    margin-right: 20px;
    width: 100%;
    height: auto;
}

.image{
    flex: 1;
    margin-right: 20px;
    width: 100%;
    height: auto;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;

  }